body
{
	margin-top: 5%; 
	background: black;
	font-family: calibri, serif, arial; 
}

table
{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto; 
	background: white;
	width: 90%; 
}

td
{
	border: 5px solid red;
	padding: 10px;
	text-align: center;
}


h1
{
	text-align: center;
	color: black;   
	font-size: 30px;
}

.italics
{
	font-style: italic;
}

.invalid_input
{
	color: red;
}